<!DOCTYPE html>
<html>
  <head>
    <title>Members Only</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Members Only</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-link ">
              <%= link_to "Posts", posts_path%>
          </li>
          <li class="nav-link ">
              <%= link_to "Sign In", sessions_login_path%>
          </li>
          <li class="nav-link ">
                <%= link_to "Sign Up", sessions_logout_path%>
          </li>
        </ul>
      </div>
    </nav>
    
    <main role="main" class="container">
      <%= yield %>
    </main>
    
    
  </body>
</html>
